html {
    background-color: #f0d24b;
    font-family: 'Birthstone', cursive;
}

h1 {
    font-size: 80px;
    font-family: 'Birthstone', cursive;
    color: cadetblue;
    letter-spacing: 5px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
    max-width: 500px;
}

body {
    margin: 0;
    font-family: 'Kedebideri', sans-serif;
    min-height: 100vh;
    position: relative;
}
